<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <title>First Flask</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div id="popup">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div style="width: 30%; display: inline-block; background-color: grey; border: 2px solid black">
        <h1 style="color:blue">Register</h1>
        <form action="create_user" method="POST">
            <div>
                <label>
                    First Name:
                    <input type="text" name="first_name">
                </label>    
            </div>
            <div>
                <label>
                    Last Name:
                    <input type="text" name="last_name">
                </label>    
            </div>
            <div>
                <label>
                    Email:
                    <input type="email" name="email">
                </label>
            </div>
            <div>
                <label>
                    Password:
                    <input type="password" name="password">
                </label>
            </div>
            <div>
                <label>
                    Confirm Password:
                    <input type="password" name="confirm_password">
                </label>
            </div>
            <input style="background-color: lightskyblue" type="submit" value="Register">
        </form>
    </div>
    <div style="width: 30%; display: inline-block; background-color: grey; border: 2px solid black">
        <h1 style="color: green">Login</h1>
        <form action="/users/login" method="POST">
            <div>
                <label>
                    Email:
                    <input type="email" name="email">
                </label>
            </div>
            <div>
                <label>
                    Password:
                    <input type="password" name="password">
                </label>
            </div>
            <div>
                <input type="submit" value="Log In">
            </div>
        </form>
    </div>
</body>
</html>